.fs40 {
	font-size: 40px;
}

.w .el-breadcrumb {
    margin-bottom: 0.2rem;
}

/* search-start */
.search {
    width: 4rem;
    margin: 0.2rem auto 0.2rem;
}

.search .el-form .el-input {
    float: left;
    width: 3.1rem;
}
/* search-end */

/* content-start */
.content {
    overflow-y: auto;
    overflow-x: hidden;

	.left {
		width: 8.4rem;
		float: left;
		overflow-y: auto;
		overflow-x: hidden;
		position: relative;
		padding-bottom: 0.1rem;
		background-color: #fff;
		padding: 0 0.2rem 0.2rem 0.2rem;

		.no_data {
			margin-top: 0.6rem;

			.icon {
				font-size: 0.5rem;
			}
		}

		.title {
			h1 {
				display: inline-block;
			}

			i {
				margin-right: 10px;
				vertical-align: text-top;
			}
		}

		.describe {
			margin: 0 auto 0.1rem;
			display: inline-block;

			li {
				float: left;
				color: #4ec3a4;
				margin-right: 0.1rem;
				border-radius: 0.15rem;
				padding: 0.04rem 0.08rem;
				border: 0.01rem solid #a9d6cd;
			}
		}

		.subscript {
			color: #d4d4d4;
			margin: 0.2rem 0;

			.icon {
				font-size: 0.35rem;
			}
		}

		.line {
			width: 100%;
			height: 0.01rem;
			margin-bottom: 0.2rem;
			background-color: #ececec;
		}
	}

	>.right {
		width: 3rem;
		float: right;
		vertical-align: top;
	}

	.right {
		.rr {
			padding: 0.2rem;
			text-align: left;
			background-color: #fff;

			li {
				color: #666;
				height: 0.3rem;
				line-height: 0.3rem;
				font-weight: normal;
				margin-left: 0.16rem;

				a {
					color: #666;
				}
			}
		}

		>.bg_img_b {
			width: 50%;
		}

		.category {
			margin-bottom: 0.2rem;
		}

		.secondary {
			padding: 0.2rem;
			text-align: left;
			background-color: #fff;

			.my-icon-dianzan {
				cursor: pointer;
				font-size: 20px;
				outline-style: none;
				color: $theme-color2;

				&.active {
					color: $red;
				}
			}
		}
	}
}

/* page-start */
.page {
    color: #e26060;
    padding: 0 1rem;

	.page_pre {
		float: left;
		cursor: pointer;

		i {
			margin-right: 0.1rem;
		}
	}

	.page_next {
		float: right;
		cursor: pointer;

		i {
			margin-left: 0.1rem;
		}
	}
}

/* page-end */

/* reset-element-ui-style-start */
.el-textarea>>>.el-textarea__inner {
    min-height: 1.35rem !important;
}

.el-form-item.is-success>>>.el-input__inner,
.el-form-item.is-success>>>.el-textarea__inner {
    border-color: #3299bb;
}

.el-dialog__header>>>.el-dialog__title {
    color: #159484;
    text-shadow: 0.01rem 0.01rem white, -0.01rem -0.01rem #444;
}

.el-form-item>>>.el-form-item__content {
    text-align: center;
}

/* reset-element-ui-style-end */

/* reset-markdown-style-start */
.content .left>>>.v-note-wrapper .v-note-panel .v-note-show .v-show-content {
    background-color: #fff;
}

.content .left>>>.v-note-wrapper .v-note-panel {
    border: none;
}

/* reset-markdown-style-end */

.content .left .comment {
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    box-shadow: -0.03rem 0.03rem 0.09rem black;
}

.comment .icon {
    font-size: 0.5rem;
    line-height: 0.7rem;
}

/* show_comment-start */
.show_comment {
    margin-bottom: 0.2rem;
    padding-bottom: 0.2rem;
    border-bottom: 0.01rem dashed #dad6d6;
}

/* scb_header-start */
.show_comment .sc_box {
    margin-bottom: 0.5rem;
}

.sc_box .scb_header {
	.scbh_img_box {
		width: 0.4rem;
		height: 0.4rem;
		float: left;
		cursor: pointer;
		overflow: hidden;
		border-radius: 50%;
		position: relative;
		border: 0.03rem solid #999;

		img {
			top: 50%;
			left: 50%;
			width: 100%;
			position: absolute;
			transform: translate(-50%, -50%);
		}
	}

	.scbh_arrow {
		width: 0;
		height: 0;
		float: left;
		margin-top: 0.12rem;
		border-top: 0.1rem solid transparent;
		border-right: 0.1rem solid transparent;
		border-bottom: 0.1rem solid transparent;
		border-left: 0.1rem solid #4ec3a4;
	}

	>span {
		float: left;
		color: #a9d6cd;
		line-height: 0.46rem;
		margin-left: 0.2rem;
	}
}

/* scb_header-end */
.sc_box .scb_body {
    padding: 0.2rem;
    text-align: left;
    border-radius: 0.05rem;
    position: relative;
    margin: 0.5rem 0 0.2rem 0;
    border: 0.01rem solid #b355b1;

	p {
		color: #da5858;
	}

}

.sc_box.right .scb_body p {
    text-align: right;
}

.sc_box .scb_body .icon {
    top: -0.32rem;
    font-size: 0.3rem;
    position: absolute;
}

.sc_box .scb_body .icon {
    left: 0.1rem;
}

.sc_box.right .scb_body .icon {
    left: auto;
    right: 0.1rem;
}

.sc_box .scb_footer .commentary_time {
    float: left;
    color: #999;
}

.sc_box .scb_footer .replay {
    float: right;
    font-size: 0.18rem;
    cursor: pointer;
}

/* .scb_header.right-start */
.sc_box.right .scb_header .scbh_img_box,
.sc_box.right .scb_header>span {
    float: right;
}

.sc_box.right .scb_header .scbh_arrow {
    float: right;
    border-top: 0.1rem solid transparent;
    border-right: 0.1rem solid #4ec3a4;
    border-bottom: 0.1rem solid transparent;
    border-left: 0.1rem solid transparent;
}

.sc_box.right .scb_header>span {
    margin-right: 0.2rem;
}

/* .scb_header.right-end */
/* show_comment-end */
/* left-end */
/* content-end */

.upload-demo {
    margin-bottom: 30px;
}

.edit_head_portrait {
    float: left;
    text-align: center;
}

.head_portrait_preview {
    float: right;

	.el-progress--circle {
		top: 50%;
		left: 50%;
		z-index: 1;
		position: relative;
		transform: translate(-50%, -50%);
	}

	img {
		top: 50%;
		left: 50%;
		width: 100%;
		position: absolute;
		transform: translate(-50%, -50%);
	}
}

.demo-ruleForm .password {
    width: 360px;
}