.fl {
    float: left;
}

.fr {
    float: right;
}

.mt20 {
    margin-top: 0.2rem;
}

.mt10 {
    margin-top: 0.1rem;
}

.mt0 {
    margin-top: 0 !important;
}

.mr20 {
    margin-right: 0.2rem;
}

.mb20 {
    margin-bottom: 0.2rem;
}

.mb10 {
    margin-bottom: 0.1rem;
}

.mt40 {
    margin-top: 0.4rem;
}

.mb40 {
    margin-bottom: 0.4rem;
}

.pb90 {
    padding-bottom: 0.9rem;
}

.pd20 {
    padding: .2rem;
}

.pd0 {
    padding: 0 !important;
}

.pt10 {
  padding-top: .1rem !important;
}

.pb10 {
  padding-bottom: .1rem !important;
}

.rotate90 {
    transform: rotate(90deg);
}

.display-ib {
    display: inline-block;
}

.display-b {
    display: block;
}

.display-n {
    display: none;
}

.cursor-pointer {
    cursor: pointer;
}

.tz-right {
    text-align: right;
}

.tz-left {
    text-align: left;
}

.ta-center {
    text-align: center;
}

.ta-right {
    text-align: right;
}

.position-relative {
    position: relative;
}

// 省略号
.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
