.fl {
    float: left;
}

.fr {
    float: right;
}

.mt20 {
    margin-top: 0.2rem;
}

.mt10 {
    margin-top: 0.1rem;
}

.mt0 {
    margin-top: 0 !important;
}

.mr20 {
    margin-right: 0.2rem;
}

.mb20 {
    margin-bottom: 0.2rem;
}

.mb10 {
    margin-bottom: 0.1rem;
}

.mt40 {
    margin-top: 0.4rem;
}

.mb40 {
    margin-bottom: 0.4rem;
}

.pb90 {
    padding-bottom: 0.9rem;
}

.pd20 {
    padding: .2rem;
}

.pd0 {
    padding: 0 !important;
}

.rotate90 {
    transform: rotate(90deg);
}

.display-ib {
    display: inline-block;
}

.display-b {
    display: block;
}

.cursor-pointer {
    cursor: pointer;
}

.tz-right {
    text-align: right;
}

.tz-left {
    text-align: left;
}

.position-relative {
    position: relative;
}
