// 颜色
@import '@/assets/css/color/index.scss';
// 波浪线
.wavy_line {
    height: 0.1rem;

    &::before {
        left: 0;
        content: '';
        width: 100%;
        height: 0.1rem;
        position: absolute;
        background:
            linear-gradient(135deg, transparent, transparent 45%, $theme-color2, transparent 55%, transparent 100%),
            linear-gradient(45deg, transparent, transparent 45%, $theme-color2, transparent 55%, transparent 100%);
        background-size: 0.2rem 0.2rem; // 它配合 height ,可以修改波浪线的线条粗细（background-size是height的一倍）,当height: 0.5em background-size: 0.5em 0.5em 就会变成双波浪线
        background-repeat: repeat-x, repeat-x;
    }
}

.line {
    position: relative;

    &::before {
        content: "";
        height: 1px;
        bottom: 0;
        display: block;
        position: absolute;
        color: $border-color;
    }
}