
// @import '@/assets/css/color/index.scss'; // 使用方法

/* 主题色 */
$theme-color: #7F86E4;
$theme-color2: #096;


/* 链接 */
$link: #1785FF;

/* 主要的文字 */
$main-font: #0A0A0A;

/* 次要文字 */
$secondary: #0a0a0a99;

/* 边框hover色 */
$border-hover: #CCCCCC;

/* 边框色、分割线 */
$border-color: #DDDDDD;

/* 表格hover色 */
$table-hover: #E5E8EC;

/* 用于分割模块的底色 */
$model-color: #FAFAFA;

/* 提示的颜色 */
$tips: #26b3ae;

/* 背景颜色 */
$bgc: #dcdfe6;

$ash: #9c9c9c;

// 循环
$creativeList: (
    (attr: 'red', color: 'red'),
    (attr: 'orange', color: 'orange'),
    (attr: 'yellow', color: 'yellow'),
    (attr: 'green', color: 'green'),
    (attr: 'blue', color: 'blue'),
    (attr: 'Indigo', color: 'Indigo'),
    (attr: 'purple', color: 'purple'),
    (attr: 'ash', color: $ash),
    (attr: 'color', color: $theme-color),
    (attr: 'color2', color: $theme-color2)
);
@for $i from 1 through length($creativeList) {
    $item: nth($creativeList, $i); // 获取 item
    $attr: map-get($item, attr); // 获取 item 中的 attr
    $color: map-get($item, color);

    *[#{$attr}] {
        color: unquote($color);
	}
	
	// *[blue] {
	// 	color: blue;
	// }
}