@media (max-device-width: 435px){
    div,a,p,li {
        font-size: 12px;
    }

    .w {
        width: 100%;
    }

    // reset-style-start
    .el-message__content {
        font-size: 12px;
        line-height: 14px;
    }

    .markdown-body pre {
        padding: 5px;
    }

    .hljs {
        font-size: 14px;
    }
}